* {
    font-family: 'Inter', sans-serif;
}

header {
    padding: 30px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
}

.inputTest {
    border: 1px solid black;
}

.container {
    max-width: 660px;
    padding: 0 30px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    text-align: center;
    padding-bottom: 33px;
    padding-top: 80px;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-for-text-input {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color:#F5F5F5;
}

.wrapCheckBoxList {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.wrapCheckBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.wrapBtn {
    background-color:#F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.text {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #54595E;
    min-width: 350px;
}

.btn {
  background:  #272829;
  border-radius: 4px;
  padding: 10px 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.btnDelChecked {
    background: #6C757D;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btnDelAll {
    background: #DC3545;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

/* CHECKBOX */

.option {
    display: block;
    margin-bottom: 1em;
  }

  .check {
    padding-left: 1.2em;
  }

  .check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.05em;
    background-color: white;
    box-shadow: 0 0 0 0.1em #7749F8;
  }

  .check__input:checked + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-color: #7749F8;
  }

  .check__input:hover + .check__box {
    box-shadow: 0 0 0 0.1em #7749F8, 0 0 0 0.2em blue;
  }

  .line {
    text-decoration: line-through;
  }



